/* Fonts */
$primary-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$primary-font-weight: 300;

$header-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$header-font-weight: 900;

$bold-font-weight: 500;


/* Colors */
$background: #F6F7F9;
$background-gray: #D3D3D3;

$body-copy-black: #222222;
$body-copy-gray: #AAAAAA;

$body-emphasis-color: #BCDAD6;

$body-link-color: $body-emphasis-color;
$body-link-hover-color: #A6BFBC;


/* Widths */
$site-max-width: 1600px;
$site-medium-width: 960px;