/* Fonts */
$primary-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$primary-font-weight: 300;

$header-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$header-font-weight: 900;

$bold-font-weight: 500;


/* Colors */
$primary-color: #A4C1BD;
$secondary-color: #EE927D;

$background: #F6F7F9;
$background-gray: #D3D3D3;

$body-copy-black: #222222;
$body-copy-gray: #AAAAAA;

$body-emphasis-color: $primary-color;

$body-link-color: $primary-color;
$body-link-hover-color: #BAD7D4;

/* Widths */
$site-max-width: 1600px;
$site-medium-width: 960px;